*{
    font-family: 'Space Mono', monospace;
    margin: 0;
    padding: 0;
}
.container{
    margin: auto;
    max-width: 1300px;  
}

header p{
    font-family: 'Space Mono', monospace;
    text-transform: uppercase;
}

main{
    padding-top: 100px;
    display: flex;
    flex-direction: row;
}

#img{
    padding-right: 70px;
}

#img img{
    width: 100%;
}

#text h1{
    font-size: 64px;
    font-weight: 700;
}

#text p{
    width: 56%;
    font-size: 24px;
    padding: 50px 0;

}
#text button{
    background-color: #000;
    padding: 15px 25px;
    border-radius: 0;
    color: #fff;
    text-transform: uppercase;
}

footer{
    text-align: center;
    width: 100%;
    text-align: center;
    margin-top: 20%;

}

footer a{
    text-decoration: none;
    font-weight: 700;
    color: #60588E;
}
